#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /
# add trailing slash to /admin request
#RewriteCond %{REQUEST_URI} admin$
#RewriteRule ^(.*)$ /backend/ [L,R=301]

# no, so we redirect to our front web controller
#RewriteCond %{REQUEST_FILENAME}	!-f
#RewriteCond $1 !^(cms\.php)
#RewriteRule ^(.*)$ /backend/cms.php?url=$1 [QSA,L]
#</IfModule>


RewriteEngine on

RewriteRule ^nneditor/(.*)\.(css|jpg|png|gif|js|html|xml|ttf|woff)$ $1.$2 [L]
RewriteRule ^nneditor/ /nnEditor/backend.php [L,QSA]

#RewriteRule \.(css|js|php|jpg|gif|jpeg|png|zip|gz|swf|xml|txt|ttf|woff|woff2|htc|svg|eot|ico|pdf|tgz)$ - [L]
#RewriteRule .* /nnEditor/index.php [L,QSA]

RewriteCond %{REQUEST_URI} \.html$
RewriteRule ^(.*)$ /nnEditor/index.php?url=$1 [QSA,L]